* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#playing-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px
}

.card {
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    font-size: 24px;
    text-align: center;
    background-color: white;
    box-shadow: 1px 1px 10px darkgray;
}

.left {
    align-self: flex-start;
    margin-left: 5px;
    margin-top: 2px;
}

.middle, .big {
    display: flex;
    align-self: center;
    flex-direction: column;
}

.right {
    align-self: flex-end;
}

.jack {
    width: 80px;
    height: auto;
}

.upside-down, #jack-down {
    transform: rotate(180deg);
}

.upside-down {
    margin-right: 5px;
    margin-bottom: 2px;
}

.big {
    font-size: 48px;
}

#heart, #diamond {
    color: red;
}